<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.litecoding.cmportinghelper"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="10" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.litecoding.cmportinghelper.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Start of Crittercism.com Code -->
		<activity android:name="com.crittercism.NotificationActivity" />
		<!-- End of Crittercism.com Code -->
		
		<provider 
		    android:authorities="com.litecoding.cmportinghelper" 
		    android:name="com.litecoding.cmportinghelper.ResultContentProvider" 
		    android:enabled="true" 
		    android:exported="true" 
		    android:multiprocess="false">
		</provider>
    </application>

</manifest>